.input-container {
    position: relative;
    height: 56px;
}

label {
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(15%, -50%);
    transition: .2s ease-in-out;
}

/* input:focus+label, input:valid+label {
    transform: translate(10%, -175%);
    color: #10A37F;
} */
.float {
    transform: translate(10%, -175%);
}

.return {
    transform: translate(15%, -50%);
}

input:focus ~ label {
    transform: translate(10%, -175%);
}

input:focus+.valid {
    color: #10A37F;
}

input:focus+.invalid {
    color: #D00E17;
}

input+.invalid {
    color: #D00E17;
    transform: translate(10%, -175%);
}

#password:focus ~ label {
    color: #10A37F;
}

